* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'montserrat', sans-serif;
    background-image: url('./weatherpic.webp');
    background-size: cover;
  }

  .appBox {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }

  main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header input {
  width: 100%;
  max-width: 280px;
  font-size: 20px;
  color: #907a7a;
  padding: 10px 15px;
  transition: 0.2s ease-out;
  border: none;
  outline: none;
  background-color: black;
  border-bottom: 3px solid gray;
  font-weight: 300;
  border-radius: 20px 0px 20px 0px;
}